body {
  font-family: "Roboto", sans-serif; }

.mobile-menu {
  display: none; }

h1 {
  font-size: 64px;
  margin: 60px 0 30px 0; }

h2 {
  font-size: 48px; }

p {
  margin: 0;
  max-width: 65%;
  text-align: center;
  font-size: 24px; }

/* Header */
.header {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  padding-top: 2vh;
  margin: 0 auto;
  max-width: 1440px; }

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%; }

/* Navigation */
.mobile-navigation-button {
  display: none; }

.navigation {
  display: flex;
  justify-content: flex-end; }

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0; }

.navigation-menu__item {
  font-size: 16px;
  list-style: none;
  padding: 0 30px 0 0; }
  .navigation-menu__item a {
    color: #000000;
    text-decoration: none; }
    .navigation-menu__item a:hover {
      color: #483D8B; }

.logo {
  display: block;
  min-width: 115px;
  min-height: 28px; }

.svg-logo:hover {
  fill: #483D8B !important; }

/* Login Button */
.auth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%; }
  .auth-button button {
    width: 106px;
    height: 43px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    font-weight: 700; }
    .auth-button button:hover {
      background-color: #483D8B;
      color: white; }

/* Main */
/* About Us Section*/
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 5vh 0;
  margin: 0 auto;
  max-width: 1440px; }

/* Contacts Section */
.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 5vh 0;
  background-color: #F7F9FB; }

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 65%; }

.contacts-small-title {
  font-size: 14px;
  text-align: center;
  line-height: 147%;
  color: #4F4F4F; }

.contacts-email,
.contacts-phone {
  width: 250px; }

.contacts-content {
  font-size: 20px;
  text-align: center;
  line-height: 147%; }
  .contacts-content a {
    text-decoration: none;
    color: #000000; }

/* Team Section */
.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 5vh 0; }

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.team-member {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0; }

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 147.3%;
  padding: 1vh 0; }

.team-member-position {
  font-size: 14px;
  line-height: 147.3%;
  color: #828282; }

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10vh;
  height: 124px;
  background-color: #3F3D56; }

.footer__copyright {
  justify-self: left;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.4;
  padding-left: 2vw; }

.footer-socials {
  display: flex;
  padding-right: 1.5vw; }
  .footer-socials a {
    height: 28px;
    padding: 0 .5vw; }
  .footer-socials img:hover {
    filter: invert(100%); }

/* FAQ Questions Section */
.questions-section {
  padding: 0 10vw;
  font-size: 20px; }

.questions-list-item {
  display: grid;
  grid-template-columns: auto fit-content(1%);
  padding: 2vh 0; }
  .questions-list-item img:hover {
    cursor: pointer; }

.questions-list-item__arrow {
  transform: rotate(0grad); }

.questions-list-item__answer {
  display: none; }

.questions-list-item__answer__show {
  display: initial;
  padding: 2vh 0; }

.questions-section ul {
  list-style: none; }

/* Media Requests*/
@media screen and (max-width: 900px) and (min-width: 631px) {
  .team-member > img {
    width: 140px;
    height: 140px; }
  .team-member-name {
    font-size: 16px; }
  .team-member-position {
    font-size: 12px; } }

@media screen and (max-width: 630px) {
  .header {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
  .logo {
    justify-content: flex-start;
    padding-left: 5vw; }
  .mobile-navigation-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw; }
  .mobile-menu {
    display: none; }
  .show {
    display: initial; }
    .show ul {
      display: flex;
      justify-content: space-around;
      padding-left: 0;
      list-style: none; }
    .show a {
      text-transform: uppercase;
      text-decoration: none; }
  .navigation-menu, .auth-button {
    display: none; }
  h1 {
    font-size: 32px; }
  h2 {
    font-size: 24px; }
  p {
    font-size: 16px;
    max-width: 85%; }
  .contacts {
    flex-direction: column;
    align-items: center;
    min-width: initial; }
    .contacts img {
      display: none; }
  .contacts-email, .contacts-phone {
    width: 100%;
    padding: 1vh 0 1vh; }
  .contacts-small-title {
    font-size: 12px; }
  .contacts-content {
    font-size: 14px; }
  .team-member {
    width: 40%; }
    .team-member img {
      width: 80px;
      height: 80px; }
  .team-member-name {
    font-size: 16px; }
  .team-member-position {
    font-size: 12px; }
  .footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 5vw; }
  .footer-socials {
    min-width: 40%;
    justify-content: space-around;
    padding-bottom: 5vw; } }

@media screen and (max-width: 420px) {
  .about-section > img {
    width: 260px; }
  .team-member > img {
    width: 60px;
    height: 60px; }
  .team-member-name {
    font-size: 12px; }
  .team-member-position {
    font-size: 10px; } }
